body{
    background-color:black;
}

/*Header*/
.header-full{
    width:100%;
    background-color:#808080;
    display:flex;
    align-items:center;
    justify-content:center;
}

.header-esquerda, .header-direita{
    width:40%;
    height:100%;
    margin:5px;
}
.header-direita{
    display:flex;
    justify-content:end;
    align-items:center;
}

.header-direita img{
    margin-left:20px;
}

/*Main*/
.main-full{
    width:100%;
    display:flex;
    justify-content:center;
}
.main-dentro{
    width:80%;
}

/*Barra de itens*/
.barra-informacao-Pagina{
    height:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;
}
.barra-informacao-Pagina-dentro{
    width:100%;
    background-color:#808080;
    height:100%;
    border-radius:5px;
    display:flex;
    align-items:center;
}
.barra-informacao-Pagina-dentro{
    padding-left:20px;
}

/*Busca de vinil*/
.busca-de-vinils-full{
    display:flex;
    margin-top:10px;
    width:20%;
    height:500px;
}
.busca-de-vinil{
    border-radius:5px;
    background-color:#f2d95f;
    padding-left:10px;
    padding-bottom:20px;
}
.vinilEnumItem{
    margin-left:22px;
    font-size:20px;
    margin-top:10px;
    cursor: pointer;
}
/*Children*/
.children-full{
    margin-top:10px;
    margin-left:2%;
    width:78%;
    background-color:#1b1b1b;
}